.topic-item {
        font-family: 'Microsoft Yahei', '微软雅黑', '黑体', arial, sans-serif;
        background: #f5f5f5;
        border-radius: 6px
    }
    .topic-photo {
        width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .topic-body {
        padding: 10px;
        border-bottom: 1px solid #dce1e3;
    }
    .topic-user {
        height: 45px;
        line-height: 35px;
        padding-bottom: 10px;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
    }
    .topic-head {
        border-radius: 24px;
        width: 35px;
        min-width: 35px;
        height: 35px;
        margin-right: 10px;
    }
    .topic-name {
        color: #7d8487;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: .9em;
        line-height: 35px;
    }
    .topic-content {
        color: #3f484b;
    }
    .topic-action {
        text-align: right;
        padding-right: 10px;
        border-top: 1px solid #fff;
        padding-top: 6px;
    }
        .topic-action a {
            margin-left: 10px;
        }

    .topic-layout {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        justify-conten: space-around;
    }
    .topic-item {
        margin: 5px;
    }
    .topic-column {
        margin: 5px;
    }
        .topic-column .topic-item {
            margin: 0;
        }
        .topic-column .topic-item:first-child {
            margin-bottom: 11px;
        }
        .topic-column .topic-content {
            height: 76px;
            overflow: hidden;
        }
    .topic-row {
        flex: 1;
        width: 100%;
        margin: 5px;
    }
        .topic-row .topic-item {
            margin: 0;
        }