.topic-item {
        font-family: 'Microsoft Yahei', '微软雅黑', '黑体', arial, sans-serif;
        background: #f5f5f5;
        border-radius: 6px
    }
    .topic-photo {
        /*width: 100%;*/
       	/*margin:0 auto;*/
        height: 107px;
        margin: auto;
        /*border-top-left-radius: 5px;
        border-top-right-radius: 5px;*/
    }
    .topic-photo-wrap {
    	height: 111px;
    	width: 100%;
    	text-align: center;
    	display: -webkit-box;
    	display: -webkit-flex;
    	display: flex;
    }
    .topic-body {
        /*padding: 10px;*/
        border-bottom: 1px solid #dce1e3;
        height: 162px;
    }
    .topic-item-text .topic-body {
    	display: -webkit-box;
    	display: -webkit-flex;
    	display: flex;
    }
    .topic-item-text .topic-content {
    	margin: auto 0;
    	height: auto;
    	text-align: center;
    }
    .topic-user {
        height: 35px;
        line-height: 25px;
        padding-bottom: 10px;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        padding: 5px;
    }
    .topic-head {
        border-radius: 24px;
        width: 25px;
        min-width: 25px;
        height: 25px;
        margin-right: 10px;
    }
    .topic-name {
        color: #7d8487;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: .6em;
    }
    .topic-content {
        color: #3f484b;
        overflow: hidden;
        height: 40px;
        width: 100%;
        padding: 0 5px;
        margin-bottom: 10px;
        font-size: .7em;
        margin: auto;
    }
    .topic-action {
        text-align: right;
        padding-right: 10px;
        border-top: 1px solid #fff;
        padding-top: 6px;
    }
        .topic-action a {
            margin-left: 10px;
        }

    .topic-layout {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        justify-conten: space-around;
    }
    .topic-item {
        margin: 5px;
        flex: 1;
        -webkit-flex: 1;
    }
    .topic-column {
        margin: 5px;
    }
        .topic-column .topic-item {
            margin: 0;
        }
        .topic-column .topic-item:first-child {
            margin-bottom: 11px;
        }
        .topic-column .topic-content {
            height: 76px;
            overflow: hidden;
        }
    .topic-row {
        flex: 1;
        width: 100%;
        margin: 5px;
    }
        .topic-row .topic-item {
            margin: 0;
        }
        .topic-row .topic-body {
        	height: auto;
        }
