#list {
	/*避免导航边框和列表背景边框重叠，看起来像两条边框似得；*/
	margin-top: -1px;
}
input {
	-webkit-user-select: auto !important;
}

/***************************************************************
 * mui组件重写
 **************************************************************/
.mui-table-view-chevron .mui-table-view-cell {
	padding-right: 15px;
}
.mui-bar-tab .mui-tab-item-input {
	width: 3%;
}
	.mui-bar-tab .mui-tab-item-input input {
		margin: auto;
		height: 35px;
	}
	.mui-bar-tab .mui-tab-item.mui-active {
		color: inherit;
	}
.mui-media-body {
	position: relative;
}
.mui-content {
	background: #272c2e;
    padding: 5px;
}
a {
	color: #272c2e;
}
.mui-title {
	color: #272c2e;
	font-family: ;
}
body.wall-frame {
	background: #272c2e;
}
.wall-frame .mui-content {
	position: relative;
	top: 0;
	margin-bottom: 48px;
}

/***************************************************************
 * appui组件
 **************************************************************/
.appui-topic-photo{
	width: 100%;
}
.appui-like {
	position: absolute;
	right: 0;
	top: 50%;
}
.appui-comment-list {
	padding-bottom: 48px;
	top: 0;
	margin-top: 0;
}
.appui-bar-photo {
	bottom: 48px;
	text-align: left;
	padding: 0 10px;
	display: none;
}
	.appui-bar-photo .mui-tab-item {
		margin-right: 5px;
	}
